

/* GENERAL SLIDES */

h2 {
    color: #9B0A14;
}

h3 {
    color: #9B0A14;
}

.remark-slide-content {
    font-size: 20px;
    line-height: 1.6;
}



/* bullet list */

ul li { 
    padding: 8px 0px;
    list-style-type: disc;
}

a, a > code {
  color: rgb(249, 38, 114);
  text-decoration: none;
}

.footnote {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 90%;
}
/* chpater pages */

slides > slide.dark {
  background-color: #fc03ec!important;
}

slides > slide {
  background: #fcd9fa!important;
}
